:root{
    --blanco:white;
    --color-cards-tecno: #7b797ee1;
    --negro:black;
    --gris-perfil: #c2c2c2ce;
    --gris:grey;
    --azul--css:#32AADF;
    --naranja--hmtl:#F4692D;
    --amarillo--js:#FCDC36;
}
@mixin etiqueta {
    color: var(--negro);
    font-weight: 500;
    
}
@mixin canvaMarging {
    margin-left: 2rem;
}

body{
    font-family: 'Roboto Slab', serif;
    background-color: #fcfbf3;
    overflow-x: hidden;
}
.warpHeader{
    background-color: var(--color-cards-tecno);
    width:100vw;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    font-weight:500;
    #header{
        #logo{
        width: 1.8rem;
        margin-right: 0.5rem;
        }
        #nombreHeader{
            font-size: 21px;
        }
        .contBtn{
            color: var(--gris);
            background-color: var(--blanco);
            &:hover{
                background-color: var(--color-cards-tecno);
                color: var(--blanco);
            }
        }
        .dropdown{
            #btnIdioma{
                color: var(--gris);
                background-color: var(--blanco);
                &:hover{
                    background-color: var(--color-cards-tecno);
                    color: var(--blanco);
                }
            }
            .svgIdioma{
                width: 1.4rem;
            }
        }
       
        

    }
}
#identidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    h4{
        margin-top: 2rem;
    }
#avatar{
    margin: 2rem  auto  8rem;
    width: 11rem;
    }
    #pc{
    // width: 30rem;
    max-width: 40%;
    height: auto;
    width: auto;
    }
}
.multipleStrings{
    text-align: justify;
    font-size: 20px;
    color: var(--blanco);
    padding-top: 4.5rem;
}


#txtPerfil{
    background-color: var(--gris-perfil);
    width:100vw;
    height: 25rem;
    margin-bottom:-8rem;
    font-weight: 500;
}    
    .txtTitulo{
        color: var(--blanco);
        font-size: 20px;
        font-weight: 400;
    }
    .wapper{
        display: flex;
        justify-content: space-around;
    } 
    #cards{
        margin-bottom: 6rem;
        .card{
            width: 19rem;
            height: 19rem;
            border-radius: 27px;
            padding: 1.5rem;
            position: relative;
            display: flex;
            margin-top: 2rem;
            margin-left: 2rem;
            justify-content: space-around;
            flex-direction: row;
            transition: 0.4s ease-out;
            &:hover{
                transform: translateY(10px);
                
                &::before{
                    opacity: 1;
                }
                .info{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 27px;
                background: var(--color-cards-tecno);
                z-index: 2;
                transition: 0.5s;
                opacity: 0;
            }
            .icons{
                width: 1.3rem;
            }
        }
        .imagen{
            max-width: 100%;
            height: auto;
            width: auto;
            object-fit: cover;
            position: absolute;
            border-radius: 27px;
        }
        .info{
            position: relative;
            z-index: 3;
            color: var(--blanco);
            opacity: 0;
            transform: translateY(30px);
            transition: 0.5s;
            margin-top: 0.5rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            h1{
                margin-right: 2rem;
            }
            ul{
                letter-spacing: 1px;
                font-size: 15px;
                margin-top: 8px;
                li{
                    list-style: none;
                }
            }
        }
    }
#logoFoot{
    width: 1.5rem;
    margin-right: 0.5rem
}
#publis{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
    h2{
        margin-bottom: 5rem;
    }
    .publicaciones{
        margin-right: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        .filtro{
            visibility: visible;
            opacity: 0;
            order : 1;
        }
        .card{
                margin: 1rem;
                transition: all 0.3s ease-out;
                img{
                    max-width: 100%;
                    height: auto;
                    width: auto;
                    border: 0px 0px 1px 0px solid var(--gris);
                }
            .labels{
                margin-bottom: 1.5rem;
                #html{
                    background-color: var(--naranja--hmtl);
                    @include etiqueta()
                }
                #css{
                    background-color: var(--azul--css);
                    @include etiqueta()
                }
                #js{
                    background-color: var(--amarillo--js);
                    @include etiqueta()
                }
            }
                
        }
    }  
    .fotoCard{
        width: 20rem;
    }
}

#lenguaje{
    #html{
        background-color: var(--naranja--hmtl);
        @include etiqueta()
    }
    #css{
        background-color: var(--azul--css);
        @include etiqueta()
    }
    #js{
        background-color: var(--amarillo--js);
        @include etiqueta()
    }
}


#footer{
    #rss{
    a{
        text-decoration: none;
        i{
            &:hover{
                color: var(--negro);
                }
        }
    }
    }
    .fooText{
        font-size: 12px;
        .mt-5{
            margin-top: 2rem !important;
        }
    }
    .copy{
        padding-top: 0.5rem;
    }
}
.offcanvas{
    background-color: var(--gris);
    color: var(--blanco)
}
.offcanvas-header {
    @include canvaMarging();
}
.offcanvas-body{
    font-size: 20px;
    @include canvaMarging();
    #canvaRss{
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        a{
            text-decoration: none;

        }
        .bi{
            font-size: 1.5rem;
        }
        i{
            margin-right: 2rem;
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px){
    #txtPerfil{
        .multipleStrings{
            font-size: 17px;
             padding-top: 2.5rem;
        }
    }
    #identidad{ 
    #pc{
        max-width: 50%;
        height: auto;
        width: auto;
        } 
    }
}
@media (max-width: 767px)  {
    #txtPerfil{
        margin-bottom: -5rem;
        .multipleStrings{
            font-size: 18px;
        }
    }
    
    #identidad{
        #pc{
            max-width: 80%;
            height: auto;
            width: auto;
            }
    }
    #busca{
        width: 17rem;
    }
    #cards{
        .wapper{
            display: grid;
        }
        .card{   
            .info{
                margin-top: 1.5rem;
                font-size: 11px;
            }     
        }
    }
}

@media (max-width: 480px) { 
#identidad{
    h1{
        margin-left: 5rem;
    }
}
  

    #txtPerfil {
        .multipleStrings {
            font-size: 15px;
        }
    }

 }